@model projetoPrototype.Models.Prototypes.Character

<h1>✅ NPC Criado!</h1>

<p><b>Protótipo Base:</b> @ViewData["OriginalName"]</p>
<br />
<p><b>Clone:</b> @Model.Name</p>
<p><b>Classe:</b> @Model.CharacterClass</p>
<p><b>Nível:</b> @Model.Level</p>

<a asp-action="Index">
    Voltar ao catálogo
</a>