# =========================
# Build results
# =========================
bin/
obj/
out/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code (opcional)
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# NuGet
# =========================
packages/
*.nupkg
*.snupkg

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# JetBrains Rider cache
# =========================
_ReSharper*/
*.DotSettings.user

# =========================
# Node (caso use frontend depois)
# =========================
node_modules/